:root{
    --bg-color: #eee6de;
    --main-color: #e65947;
    --line-color: #ddb9a2;
    --main-word-color: #3F3F3F;
    --thead-color: #d6624f;
    --header-hieght: 100px;
    --page-number-color: #3f3f3f;
}


main{
    padding: 130px 100px 0 300px;
}
.text-main-color{
    color: var(--main-color);
    font-weight: bolder;
}
.object-cover{
    object-fit: cover;    
}
a{
    text-decoration: none;   
    color: #fff;
}
.header{
    background: var(--bg-color);
    height: var(--header-hieght);
    width: 100vw;
    z-index: 1;
    border-bottom: 1px solid var(--line-color);
}
.header h3{
    letter-spacing: 5px;
}
.logo img{
    position: relative;
    height: 100px;
    right: 15px;
}
.btn-main-color{
    background: var(--main-color);
    font-weight: bolder;
    color: white;
    /* padding: .5rem 1rem; */
   
}
.btn-bg-color{
    background: var(--line-color);
    font-weight: bolder;
    color: white;    
}
.count-bg{
    background: var(--bg-color);
    padding: 0px 5px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;    
}
.page-link{
    border:none;
    color:var(--page-number-color);
}
.page-link.active{
    background: transparent;
    color:var(--main-color);
}
.table-head{
    background: var(--bg-color);
}
.table{
    min-height: 550px;
}
.sidebar{
    width: 256px;
    height: 100vh;
    background: var(--bg-color);
    padding-top: var(--header-hieght);
}
.nav-title:not(:last-child){
    border-bottom: 1px solid var(--line-color);
}
.nav-title h3{
    font-weight: bolder;
    font-size: 26px;
}
.main-nav li{
    color:var(--main-word-color);
}
.nav-link{
    padding: .5rem;
    font-size: 20px;
}
.hover:hover{
    background: var(--main-color);
    color:#fff;
 
}

.title{
    font-size: 24px;
    color: var(--line-color);
    margin-bottom: 10px;
}


.status-bar{
    width: 100%;
    background:var(--bg-color);
    height: 72px;
}


.status-button{
    background:var(--line-color);
    width: 150px;
}

.status-a{
    padding: 6px;
    display: block;
}


.status-button :hover{
    background:var(--main-color);
    color: #fff;
}

.select{
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

.select-category{
    width: 600px;
    height: 35px;
    border-radius: 10px;
}

.blog-search-input{
    width: 150px;
}

.td-height{
    height: 16px;
}


.switch{
    height: 0;
	width: 0;
	visibility: hidden;
}

.switch-lable{
    cursor: pointer;
	width: 80px;
	height: 40px;
	background: var(--bg-color);
	display: block;
	border-radius: 100px;
	position: relative;
    border: 1px solid #222;
}

.switch-lable::after{
    content: '';
	position: absolute;
	top: 4px;
	left: 5px;
	width: 28px;
	height: 28px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switch-txt{
    position: relative;
    display: block;
    color: #fff;
    font-weight: bold;
    transform: translate(5px,5px);
}

.switch-txt::before{
    content: attr(turnOn);
    color: #222;
    position: relative;
    color: #fff;
    left: 0px;
   
}
.switch-txt::after{
    content: attr(turnOff);
    position: relative;
    color: #222;
    left: 18px;
}

.switch:checked + .switch-lable{
    background: #56C568;
}

.switch:checked + .switch-lable::after{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.editor{
    height: 250px;
}

.trHover:hover{
    background:#eee;
}
