:root {
    --bg-color: #eee6de;
    --main-color: #e65947;
    --line-color: #ddb9a2;
    --main-word-color: #3F3F3F;
    --header-hieght: 100px;
}

.main-h2 {
    color: var(--line-color);
}

.display-page-box {
    width: 10%;
}

.display-page {
    width: 70px;
    height: 40px;
}


/* 篩選器開始 */
.search-filter {
    height: 40px;
    width: 10%;
}

.searchText {
    width: 30%;
}

.searchDate {
    width: 20%;
}

.searchState {
    width: 10%;
}



.btn-cancel-color:hover{
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

.hide {
    display: none;
}

/* 訂單表格 */

.order-list td {
    height: 50px;
}

.order-th {
    font-size: 18px;
    /* font-weight: 600; */
    height: 50px;
    background: var(--line-color);
    color: #fff;
    line-height: 35px;
}

.order-table {
    width: 85%;
}

.arrowBtn{
    height: 15px;
}
.arrow-color{
    color:#fff;
}
.arrow-active>.arrow-color,.arrow-color.arrow-active{
    color:var(--main-color);
}
.table {
    min-height: 50px;
    max-height: 50px;

}
.detailLink{
    color: var(--line-color);
    font-size: 18px;
    font-weight: 900;    
}
.detailLink:hover{
    color: var(--main-color);
    
}
.trash{
    color:var(--line-color);
    cursor: pointer;
}
.trash:hover{
    color:var(--main-color);
}





/* 頁碼 */

.page-item{
    font-weight: 700;
}

.page-link {
    color: var(--main-word-color);
}

.page-link:hover {
    color: var(--main-color);
}

.active>.page-link, .page-link.active {
    background: #fff;
    color: var(--main-color);
}

/* 確認刪除視窗 */

.popup{
    width: 400px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    padding: 15px;
}

.popup h3{
    font-size: 28px;
    margin: 20px auto;
    font-weight: bold;
}
.close{
    position:absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
        
}
.confirm{
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}


.blogTitleInput{    
    all: unset;
    font-size: 35px;
    width: 800px;
}

.blogContent{
    all: unset;


}

.mediaIcon{
    color: var(--main-color);
    font-size: 50px;
}   

.active{
    background:var(--main-color);
}