:root {
    --bg-color: #eee6de;
    --main-color: #e65947;
    --line-color: #ddb9a2;
    --main-word-color: #3F3F3F;
}
body {
    background: var(--bg-color);
}
.object-cover {
    object-fit: cover;
    width: 200px;    
}
.display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 350px;
}
.logo h1 {
    color: var( --main-color);
    margin: 0;
}
.btn-main-color{
    background: var(--main-color);
    font-weight: bolder;
    color: white;
    padding: .5rem 1rem;
}
.button {
    margin-top: 50px;
    margin: 20px ;
}
.card {
    background: #fff;
    border-radius: 30px;
    height: 500px;
    width: 500px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .error-text {
    color: var( --main-color);
} */