:root {
    --bg-color: #eee6de;
    --main-color: #e65947;
    --line-color: #ddb9a2;
    --main-word-color: #3F3F3F;
    --header-hieght: 100px;
}

.title {
    font-size: 26px;
    color: var(--main-word-color);
}

.table-head {
    background-color: var(--line-color);
}

.blogs {
    margin-top: 100px;
}

.btn-members-list {
    margin-top: 60px;
    background: var(--main-color);
    font-weight: bolder;
    color: white;
    padding: .5rem 1rem;
}

.cancel-btn-line-color {
    background: var(--line-color);
}

.save-btn-main-color {
    background: var(--main-color);
}

.table {
    min-height: 200px;
}

.bg-mask {
    display: none;
    opacity: 0.5;
    background: var(--main-word-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.edit-member-card {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    display: none;
    min-width: 600px;
}
.tabs {
    display: block;
}

.btn-main-color {
    background: var(--main-color);
    font-weight: bolder;
    color: white;
    padding: .5rem 1rem;
}