:root {
    --bg-color: #eee6de;
    --main-color: #e65947;
    --line-color: #ddb9a2;
    --main-word-color: #3F3F3F;
    --header-hieght: 100px;
}
.editBtn{
    line-height: 29px;
}
.form-select{
    width: 200px;
}

.note{
    width: 800px;
    height: 50px;
    padding-left: 12px;
    /* border: 1px solid black; */
}
.table{
    min-height: 200px;
}
.order-th {
    font-size: 18px;
    background: var(--line-color);
    color: #fff;
    line-height: 40px;
}


.boldWord{
    font-weight: 700;
    font-size: 18px;
}
.btn:hover{
    color: #fff;
    background: var(--main-color);
    border-color: var(--main-color);
}
.btn:active {
    color: #fff;
    background: var(--main-color);
    border-color: var(--main-color);
}

.coursePic{
    width: 100px;
    height: 100px;
}
.imgObject{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-tr td{
    line-height: 100px;
}


.totalPrice{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}

/* 實體商品CSS */

/* 顧客資料 */

.customer-left,.customer-right{
    width: 500px;
}



