.form-select{
    width: 200px;
}
.note{
    width: 800px;
    height: 50px;
    /* border: 1px solid black; */
}
.table{
    min-height: 200px;
}
.dateName{
    font-weight: 700;
    font-size: 18px;
}